@import url("https://fonts.gooogleapis.com/css2?family=poppins:wght@100;200;300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

.container{
    background-color: #fff;
    width: 765px;
    max-width: 765px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.container .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(right, #56d8e4 10%, #9f01ea 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container form{
    padding: 30px 0 0 0 0;
}

/* .container form .form-row{
    display: flex;
    margin: 32px 0;
} */

form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

form .form-row .textarea{
    height: 70px;
}

.input-data input,
.textarea textarea{
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0,0.12);
}

.input-data label{
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    pointer-events: none;
}

.textarea textarea{
    resize: none;
    padding-top: 10px;
}

.textarea label{
    width: 100%;
    bottom: 40px;
    background: #fff;
}

.input-data {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: red;
}


