@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200&family=Roboto:wght@700&display=swap');

*{
    padding: 1px;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

nav{
    background: #232a2e;
    margin-top: 0;
    height: 71px;
    width: 100%;
    overflow: hidden;
}

label.logo{
    color: white;
    font-size: 35px;
    font-family: Arial;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-family: Arial;
    font-size: 15px;
    padding: 8px 14px;
    border-radius: 3px;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
} 

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?cs=srgb&dl=pexels-hasan-albari-1229861.jpg&fm=jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 80px);
  }

  .content .para{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 8px;
    padding-bottom: 25px;
    letter-spacing: 1.2px;
    line-height: 30px;
    width: fit-content;
    block-size: auto;
 }

 h1{
  font-family: 'Poppins', sans-serif;
  color: orange;
  font-size: 30px;
  padding-left: 9px;
  margin-top: 25px;
  letter-spacing: 2px;
}

.content span{
  color: whitesmoke;
  font-size: 35px;
}

.content .cn{
  width: 160px;
  height: 40px;
  background: orange;
  border: none;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
}

.content .cn a{
  text-decoration: none;
  color: white;
  transition: .3s ease;
}

.cn:hover{
  background: #c77474;
}